html
  body
    .header
      div
        a.nav-toggle(href='', ng-click='toggleNav()')
          i.fa.fa-fw.fa-bars
        h1 Camabis
      form(name='upload-photo')
        label.custom-input
          i.fa.fa-camera
          p Take Photo
          input(type='file', accept='image/*', capture='camera', name='userPhoto')
    .main
      .nav(ng-show='showNav')
        ul.nowrap
          li
            a(ng-click="status='new'" role="goNew")
              i.fa.fa-fw.fa-circle-o
              | Active
          li
            a(ng-click="status='resolved'" role="goResolved")
              i.fa.fa-fw.fa-circle
              | Resolved
          li
            a(ng-click="status='nonissue'" role="goNonissue")
              i.fa.fa-fw.fa-minus-circle
              | Non-Issues
      .content
        if false
          .no-concerns
            p All good
            img(src="img/snoop.png", alt="Snoop Dogg throwing finger guns at you")
        else
          v-accordion
            v-pane.concern(ng-repeat="concern in concernContainer | orderBy:'-date' | filter:status")
              v-pane-header
                .concern-row
                  .concern-row-image
                    img.hide-is-expanded(src='http://placehold.it/216x162')
                    img.show-is-expanded(src='http://placehold.it/864x648')
                  .concern-row-group.hide-is-expanded
                    i.fa.fa-circle.severity(class='{{jmap.severity[concern.severity]}}')
                    div
                      label Room {{concern.room_id}}
                      label.important-info Camera {{concern.camera_id}}
                      label {{jmap.disease_type[concern.disease_type]}}
                  .concern-row-group.show-is-expanded
                    div.info-container
                      .severity
                        i.fa.fa-fw.fa-circle.severity(class='{{jmap.severity[concern.severity]}}')
                        label {{jmap.severity[concern.severity]}} Severity
                      div
                        i.fa.fa-fw.fa-map-marker
                        label Room {{concern.room_id}}, Camera {{concern.camera_id}}
                      div
                        i.fa.fa-fw.fa-info-circle
                        label {{jmap.disease_type[concern.disease_type]}}
                      div
                        i.fa.fa-fw.fa-calendar
                        label {{ concern.date | date:"EEE, MMM d, h:mm a"}}
                      hr.hide-b-md
                    div.button-container.show-is-expanded
                      button(role="resolveConcern", disabled) Resolve
                      button.secondary(role="nonissueConcern", disabled) Not an Issue
                  label.hide-is-expanded.hide-b-sm {{ concern.date | date:"MMM d, h:mm a" }}
              v-pane-content
