/******************************************
* Variables
******************************************/

@color1: #7aae80;
@color2: #D0D0D0;
@color3: #F3F3F3;
@colorCaution: #E6E470;
@colorWarning: #E6A770;
@colorDanger: #E67070;
@textColor1: grey;
@textColor2: #505050;
@textColor3: white;

@fontFamily: 'Open Sans', Helvetica, Arial, sans-serif;
@fontFamilyLogo: 'Courgette', 'Open Sans', Helvetica, Arial, sans-serif;
@fontWeightNorm: 400;
@fontWeightSemiBold: 600;
@fontWeightBold: 900;

@border: 1px solid @color2;
@borderShadowRight: 2px 0px 3px -2px @color2;
@borderShadowAround: 0px 0px 1px 1px @color2;

@mq-xs: ~"only screen and (max-width: 480px)";
@mq-sm: ~"only screen and (max-width: 768px)";
@mq-md: ~"only screen and (max-width: 1024px)";
@mq-lg: ~"only screen and (max-width: 1400px)";


/******************************************
* Mixins
******************************************/

/* Transitions */
.transitionAll {
    transition: all 0.4s;
}

/* Flex */
.flex-hundop {
    display: flex;
    height: 100%;
}

.flex-between {
    .flex-center-v;
    justify-content: space-between;
}

.flex-center-v {
    align-items: center;
    display: flex;
}
