<div class="header">
    <div>
        <a href="" class="nav-toggle" ng-click="toggleNav()"><i class="fa fa-fw fa-bars"></i></a>
        <h1>camabis</h1>
    </div>
    <form name="upload-photo" action="" method="post">
        <label class="custom-input">
            <i class="fa fa-camera"></i>
            Take Photo
            <input type="file" accept="image/*" capture="camera">
        </label>
    </form>
</div>

<div class="main">
    <div class="nav" ng-show="showNav">
        <ul class="nowrap">
            <li><a class="active" href=""><i class="fa fa-fw fa-circle-o"></i>Active</a></li>
            <li><a href=""><i class="fa fa-fw fa-circle"></i>Resolved</a></li>
            <li><a href=""><i class="fa fa-fw fa-minus-circle"></i>Non-Issues</a></li>
        </ul>
    </div>

    <div class="content">
        <v-accordion>
            <v-pane ng-repeat="concern in concernContainer" class="concern">
                <v-pane-header>
                    <div class="concern-row">
                        <div class="concern-row-image">
                            <img src="http://placehold.it/216x162" class="hide-is-expanded">
                            <img src="http://placehold.it/864x648" class="show-is-expanded">
                        </div>
                        <div class="concern-row-group">
                            <i class="hide-is-expanded fa fa-circle severity {{jmap.severity[concern.severity]}}"></i>
                            <div>
                                <label class="severity show-is-expanded space-below-is-expanded">
                                    <i class="show-is-expanded fa fa-circle severity {{jmap.severity[concern.severity]}}"></i>
                                    {{jmap.severity[concern.severity]}} Severity
                                </label>
                                <label>Room {{concern.room_id}}</label>
                                <label class="important-info">Camera {{concern.camera_id}}</label>
                                <label class="space-below-is-expanded">{{jmap.disease_type[concern.disease_type]}}</label>
                                <label class="show-is-expanded">{{concern.date}}</label>
                                <hr class="show-is-expanded hide-b-md">
                            </div>
                        </div>
                        <label class="hide-is-expanded hide-b-xs">{{concern.date}}</label>
                    </div>
                </v-pane-header>
                <v-pane-content>
                </v-pane-content>
            </v-pane>
        </v-accordion>
    </div>
</div>
