@import "./../styles/variables.less";

.header {
    .flex-between;
    border-bottom: @border;
    display: flex;
    padding: 1rem 0;
    text-align: center;
    width: 100%;

    > * {
        display: inline-block;
    }
}

.nav-toggle {
    margin: 0 1.5em;
}

.main {
    .flex-hundop;

    @media @mq-sm {
        flex-direction: column;
    }
}

.nav {
    border-right: @border;
    max-height: 9999px;
    max-width: 200px;
    width: 25%;

    * {
        width: 100%;
    }

    a {
        box-sizing: border-box;
        padding: 1em 1.5em;
        display: inline-block;
        text-decoration: none;
    }

    a.active, a.active:hover {
        color: @textColor3;
        background-color: @color2;
    }

    @media @mq-sm {
        border-bottom: @border;
        max-width: initial;
        width: 100%;
    }
}

.nav.ng-hide {
    max-width: 0;
    opacity: 0;

    @media @mq-sm {
        max-height: 0;
        max-width: initial;
    }
}

.content {
    width: 100%;
}
