@import "./../styles/variables.less";

.header {
    border-bottom: @border;
    padding: 1rem 0;
    width: 100%;

    > * {
        display: inline-block;
    }

    h1 {
        color: @color1;
    }
}

.nav-toggle {
    margin-left: 1.5em;
    margin-right: 1.25em; // visual trickery
    vertical-align: super;
}

.main {
    .flex-hundop;

    @media @mq-sm {
        flex-direction: column;
    }
}

.nav {
    border-right: @border;
    box-shadow: @borderShadowRight;
    box-sizing: border-box;
    max-height: 9999px;
    max-width: 250px;
    min-width: 215px;
    width: 25%;
    z-index: 1;

    ul {
        width: 100%;
    }

    a {
        box-sizing: border-box;
        padding: 1.5em;
        display: inline-block;
        text-decoration: none;
        width: 100%;

        i {
            margin-right: 1.5em;
        }
    }

    a.active, a.active:hover {
        color: @textColor3;
        background-color: @color2;
    }

    @media @mq-sm {
        border-bottom: @border;
        box-shadow: none;
        max-width: initial;
        width: 100%;
    }
}

.nav.ng-hide {
    max-height: 0;
    max-width: 0;
    min-width: 0;
    opacity: 0;

    @media @mq-sm {
        max-height: 0;
        max-width: initial;
    }
}

.content {
    background-color: lighten(@color2, 10%);
    width: 100%;

    @media @mq-sm {
        height: 100%;
    }
}

.concern {
    background-color: white;
    border-bottom: @border;
    border-left: @border;
    border-right: @border;
    margin: 0 1.5em;
    max-width: 1200px;

    &:first-of-type {
        border-top: @border;
        margin-top: 1.5em;
    }
}

.concern-row {
    .flex-between;
    padding: 1.5em;
}

.concern-row:not(.is-expanded) .show-is-expanded {
    display: none;
}

.concern-row:not(.is-expanded) .hide-is-expanded {
    display: initial;
}

.concern-row .concern-row-group {
    flex-grow: 1;
    padding: 1.5em 0 1.5em 1.5em;

    > * {
        display: inline-block;
        vertical-align: middle;
    }

    label {
        display: block;
        line-height: 1.25em;

        &:last-of-type {
            margin-bottom: 0;
        }
    }

    hr {
        margin: 1.5em 0;
        width: 100%;
    }
}

.severity {
    text-transform: capitalize;

    i& {
        font-size: 1.5em;
        margin-right: 1rem;
    }

    &.low {
        color: @colorCaution;
    }

    &.medium {
        color: @colorWarning;
    }

    &.high {
        color: @colorDanger;
    }
}

.concern:not(.is-expanded) .concern-row .important-info {
    font-weight: @fontWeightSemiBold;
    font-size: 1.2em;
    margin: 0.5em 0 0.5em -0.1em; // visual trickery
}

.concern.is-expanded .concern-row {
    align-items: initial;
    height: 500px;

    .hide-is-expanded {
        display: none;
    }

    .show-is-expanded {
        display: block;
    }

    i.show-is-expanded {
        display: inline-block;
        margin-right: 0.25em;
        vertical-align: middle;
    }

    label {
        margin-bottom: 0.5em;
    }

    .space-below-is-expanded {
        margin-bottom: 1.5em;
    }

    img {
        flex-grow: 1;
    }

    .concern-row-group {
        flex: initial;
        min-width: 200px;

        > div {
            width: 100%;
        }
    }
}

.concern-content {
    padding: 1.5em;
}
