<div class="header">
    <a href="" class="nav-toggle" ng-click="toggleNav()"><i class="fa fa-bars"></i></a>
    <h1>camabis</h1>
    <div class="placeholder"></div>
</div>

<div class="main">
    <div class="nav" ng-show="showNav">
        <ul class="nowrap">
            <li><a class="active" href="">Active</a></li>
            <li><a href="">Resolved</a></li>
            <li><a href="">Non-Issues</a></li>
        </ul>
    </div>

    <v-accordion class="vAccordion--default content container">
        <v-pane ng-repeat="concern in concernContainer">
            <v-pane-header>
                <p>{{concern.date}}</p>
            </v-pane-header>
            <v-pane-content>
                <p>{{concern.status}}</p>
            </v-pane-content>
        </v-pane>
    </v-accordion>
</div>
